<div class="filter-section" *ngIf="allArticles.length > 0">
  <div class="filters-container">
    <div class="filter-group">
      <i class="pi pi-sort-alt"></i>
      <select id="sortBy" [(ngModel)]="sortBy" (change)="applyFiltersAndSort()" class="custom-select">
        <option value="relevance">Trier par : Pertinence</option>
        <option value="price_asc">Trier par : Prix croissant</option>
        <option value="price_desc">Trier par : Prix décroissant</option>
      </select>
    </div>

    <div class="filter-group">
      <i class="pi pi-globe"></i>
      <select id="filterSource" [(ngModel)]="filterSource" (change)="applyFiltersAndSort()" class="custom-select">
        <option value="all">Tous les sites</option>
        <option *ngFor="let src of sources" [value]="src">{{src}}</option>
      </select>
    </div>
  </div>
</div>

<div class="article--list">
  <ng-container *ngIf="isLoading">
    <div class="skeleton-card" *ngFor="let i of [1,2,3,4,5,6]">
      <div class="skeleton-image"></div>
      <div class="skeleton-content">
        <div class="skeleton-title"></div>
        <div class="skeleton-price"></div>
        <div class="skeleton-footer"></div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isLoading">
    @for (article of paginatedArticles; track article.productURL){
      <app-article [article]="article"/>
    }
  </ng-container>
</div>

<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
  <span>Page {{currentPage}} sur {{totalPages}}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
</div>
