@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.Title{
  font-family: "Knewave", serif;
  font-style: normal;
  margin: 0 10px;
  //color: var(--p-violet-400);
  color: var(--p-primary-color);
}
#shop{
  font-family: "Engagement", serif;
  font-weight: 400;
  font-style: normal;
  color: #262626;
  margin: 0 2px;
}
:host ::ng-deep{
  .p-toolbar {
    border: none;
    border-radius: 0;
    padding: 0.75rem 2rem;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .auth--btn{
    font-weight: 800 !important;
    margin-right: 7px;
  }
}
.logout--btn{
  margin-left: 10px;
}
