<div class="main">
  <div class="wrapper--history">
    <app-history></app-history>
  </div>
  <div class="main-content">
    <div class="wrapper text--wrapper">
      <h1>Rechercher</h1>
      <h5>Trouver les meilleurs offres parmi des millier d'articles</h5>
    </div>
    <div class="wrapper search--wrapper">
      <app-search></app-search>
      <app-loader></app-loader>
    </div>
    <div class="wrapper list--wrapper">
      <app-article-list></app-article-list>
    </div>
  </div>
</div>

