<div class="card flex justify-content-center">
  <p-card header="Connexion" subheader="Entrez votre identifiant et mot de passe" [style]="{ width: '360px' }">
    <ng-template pTemplate="header">
      <div class="wrapper-div">
        <svg>
          <text x="50%" y="50%" dy=".35em" text-anchor="middle">
            ShopWise
          </text>
        </svg>
      </div>
    </ng-template>

    <div class="flex flex-column md field--content">
      @if (errorMessage) {
        <div class="p-error mb-2">{{ errorMessage }}</div>
      }
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-user"></i>
        </p-inputGroupAddon>
        <input pInputText placeholder="E-mail" [(ngModel)]="email"/>
      </p-inputGroup>
      <p-inputGroup>
        <p-inputGroupAddon>
          <i class="pi pi-key"></i>
        </p-inputGroupAddon>
        <p-password class="pass" [(ngModel)]="password" placeholder="Mot de passe" [toggleMask]="true" [style]="{width:'100%'}"></p-password>
      </p-inputGroup>

      <span class="compte">Pas de compte ? <p-button label="créer un compte" [link]="true" (click)="changeFormModal()"></p-button></span>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Confirmer" icon="pi pi-check" (click)="auth()" [loading]="loading" [disabled]="!email || !password"></p-button>
      <p-button label="Annuler" (click)="closeModal()" icon="pi pi-times" [outlined]="true" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
    </ng-template>
  </p-card>
</div>
